html {
    text-align: center;
    font-size: 125%
}
.google-fonts {
    // <uniquifier>: Use a unique and descriptive class name

    .josefin-sans-<uniquifier> {
      font-family: "Josefin Sans", serif;
      font-optical-sizing: auto;
      font-weight: 400;
      font-style: normal;
    }
  }
    body {
    font-family: "Arial", "Meiryo", sans-serif;
}
    .decoration {
        font-size:20px;
    }
    h1 { 
        .google-fonts {
        font-family:  sans-serif;
        font-optical-sizing: auto;
        font-weight: weight;
        font-style: normal;
        } 
        font-size: 2rem;
        letter-spacing: 1.2em;
        text-shadow: 1px 1px 2px gray;
        border-bottom: solid 3px rgb(115, 115, 114);
}
.red{
    color: skyblue;
}
.pink{
    color: rgb(255, 192, 203);
}
.Kadai{
    color:  rgb(255, 192, 203);
}
.apple{
    color: skyblue;
}
#parent p {
   font-weight: bold; 
}







